<div class="app-header">

  <div class="app-header-brand">
      <div class="brand-name">John Oxley</div>
      <div class="brand-title">Caravan Park</div>
  </div>

  <div class="app-header-navs">
    <a class="col-1">home</a>
    <a class="col-1">cabins</a>
    <a class="col-1">caravan & camping</a>
    <a class="col-1">rates</a>
  </div>


  <div class="app-header-contact">

    <div class="app-header-details border-right">
      <div class="app-header-icon col-1">
        <i class="material-icons">phone</i>
      </div>
      <div class="app-header-text col-3">
        <p style="margin: 10px 5px 0">(02) 6842 1635</p>
      </div>
    </div>

    <div class="app-header-details">
      <div class="app-header-icon col-1">
        <i class="material-icons">location_on</i>
      </div>
      <div class="app-header-text col-3">
        <p>
          Newell Highway
        </p>
        <p>
          Coonabarabran, NSW
        </p>
      </div>

    </div>

  </div>

  <div class="app-sub-header">

  </div>

</div>
