.app-hero {
  width: 100%;
  max-height: 450px;
  min-height: 450px;
  background-image: url('../../assets/hero/banner_0040.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
